<h1>Mensajes</h1>
<form id="formMsg" enctype="multipart/form-data">
	<div id="tablaProductos">
		<div class="mb-3">
			<label id="email" for="email" class="form-label">Email</label>
			<input type="email" name="email" class="form-control" id="email" aria-describedby="email">
		</div>
		<div class="card my-4">
			<div class="card-body">
				<p id="chat" ></p>
			</div>
		      </div>

		<div class="input-group mb-3">
			<input type="text" id="mensaje" name="mensaje" class="form-control" placeholder="mensaje" aria-label="mensaje" aria-describedby="button-addon2">
			<button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
		      </div>
	</div>
</form>

