<h1>Vista de Productos</h1>
<table class="table table-dark table-hover">
	<thead>
		<tr>
			<!-- <th scope="col">#</th> -->
			<th scope="col"></th>
			<th scope="col">Name</th>
			<th scope="col">Price</th>
		</tr>
	</thead>
	<tbody id="tablaProductos">

	</tbody>
</table>